Django==1.3
django-registration
-e hg+https://manuelzs@bitbucket.org/jiaaro/django-badges#egg=django-badges
-e git+git://github.com/sciyoshi/pyfacebook.git#egg=pyfacebook
-e git+git://github.com/ryanmark/django-facebookconnect.git#egg=django-facebookconnect
